<div class="msg danger">
    <strong>YourLanguageSucks needs your help!</strong><br />
    We don't serve ads and don't ask you to buy shit, because that sucks.<br />
    But running and maintaining website costs money. If you don't support the project, <br />
    we will close it on <b>24 January 2021</b>.<br />
    Do you want YourLanguageSucks to stay alive? Donate on <a href="{{ site.patreon }}" rel="nofollow" target="_blank">patreon</a>.<br />
    <br />
    PS: that sucks, too; but we don't have other options.
</div>
