---
layout: default
---
{%- capture page_url -%}{{ page.url | replace:'index.html','' | replace:'.html','' }}{%- endcapture -%}
{%- capture page_author -%}{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}{%- endcapture -%}
{%- capture date -%}{% if page.date %}{{ page.date }}{% else %}{{ site.time | date: '%Y' }}{% endif %}{%- endcapture -%}
{%- capture now -%}{{ site.time | date: '%Y' }}{%- endcapture -%}
<div class="container">
    {% include selector.html %}
    <div class="links">
        <span itemprop="breadcrumb">
            <a href="/">Your Language Sucks</a> &rarr;
            <a href="{{ page_url }}">{{ page.title }}</a>
        </span>
        <a id="edit-top" href="{{ site.repo }}edit/master/{{ page.path }}" rel="nofollow" target="_blank">Edit on GitHub</a>
    </div>
    {% if page.date and date < now %}
    <div class="msg danger">
        <strong>Watch Out!</strong>
        That article was updated in {{ date }}, some information may be outdated.
        Feel free to update it yourself with <a href="#edit-top">Edit on GitHub</a> link
    </div>
    {% endif %}

    {% if page.draft %}
    <div class="msg">
        <strong>Nota Bene.</strong>
        This page is a draft, because it covers very few aspects of {{ page.title }}.
        Feel free to add information yourself with <a href="#edit-top">Edit on GitHub</a> link
    </div>
    {% endif %}
</div>
<div class="container" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
    {{ content }}
    <!-- schema.org -->
    <div class="microdata">
        <span itemprop="description">
            {{ page.title }} sucks, here is why.
            We hope, that article will help you to choose the perfect programming language for you.
        </span>
        <span itemprop="headline">{{ page.title }} sucks, here is why.</span>
        <span itemprop="author">{{ page_author }}</span>
        <span itemprop="datePublished">{{ date }}</span>
        <span itemprop="dateModified">{{ date }}</span>
        <span itemprop="publisher">{{ site.title }}</span>
        <a itemprop="mainEntityOfPage" href="{{ page_url }}">{{ page.title }}</a>
        <a itemprop="image" href="{{ site.url }}{{ site.baseurl }}{{ site.logo.url }}">{{ page.title }}</a>
    </div>
    <div class="links">
        <a id="edit-bottom" href="{{ site.repo }}edit/master/{{ page.path }}" rel="nofollow" target="_blank">Edit on GitHub</a>
    </div>
</div>
