---
layout: default
---
{%- capture page_url -%}{{ page.url | replace:'index.html','' | replace:'.html','' }}{%- endcapture -%}
{%- capture page_author -%}{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}{%- endcapture -%}
{%- capture date -%}{% if page.date %}{{ page.date }}{% else %}{{ site.time | date: '%Y' }}{% endif %}{%- endcapture -%}
{%- capture now -%}{{ site.time | date: '%Y' }}{%- endcapture -%}
<div class="container">
    {% include selector.html %}
    <div class="links">
        <span itemprop="breadcrumb">
            <a href="/">Your Language Sucks</a> &rarr;
            <a href="{{ page_url }}">{{ page.title }}</a>
        </span>
        <a id="edit-top" href="{{ site.repo }}edit/master/{{ page.path }}" rel="nofollow" target="_blank">Edit on GitHub</a>
    </div>
    {% if page.date and date < now %}
    <div class="msg danger">
        <strong>Watch Out!</strong>
        <p>That article was updated in {{ date }} by {{ page.author }},
        it does not follow <a href="/new#what-does-good-page-must-contain" target="_blank">good pages</a> guide and may have outdated information.</p>
        Help us to maintain it with <a href="#edit-top">Edit on GitHub</a> link
    </div>
    {% endif %}

    {% if page.draft %}
    <div class="msg">
        <strong>Nota Bene.</strong>
        <p>This page is a draft, because it covers very few aspects of {{ page.title }}.</p>
        {% if page.missing %}
        <a href="/new#what-does-good-page-must-contain" target="_blank">Currently missing parts</a>: {{ page.missing | join: ', ' }}.
        {% endif %}
        Feel free to add information yourself with <a href="#edit-top">Edit on GitHub</a> link.
    </div>
    {% endif %}
</div>
<div class="container" itemprop="mainEntity" itemscope itemtype="http://schema.org/Article">
    {{ content }}
    <!-- schema.org -->
    <div class="microdata">
        <span itemprop="description">
            {{ page.title }} sucks, here is why.
            We hope, that article will help you to choose the perfect programming language for you.
        </span>
        <span itemprop="headline">{{ page.title }} sucks, here is why.</span>
        <span itemprop="author">{{ page_author }}</span>
        <span itemprop="datePublished">{{ date }}</span>
        <span itemprop="dateModified">{{ date }}</span>
        <span itemprop="publisher">{{ site.title }}</span>
        <a itemprop="mainEntityOfPage" href="{{ page_url }}">{{ page.title }}</a>
        <a itemprop="image" href="{{ site.url }}{{ site.logo.url }}">{{ page.title }}</a>
    </div>
    {% include donate.html %}
    <div class="links">
        <span><a href="/LICENSE">suckless license</a></span>
        <a id="edit-bottom" href="{{ site.repo }}edit/master/{{ page.path }}" rel="nofollow" target="_blank">Edit on GitHub</a>
    </div>
</div>
